@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    transition: .4s ;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
    color:#333;
}

html{
  display:flex;
  justify-content:center ;
  align-items: center;
}
body{   
    width:60vw;
    height:300vh;
    background:rgba(242,239,235);
}

.div-opening{ /*開場*/
    position:absolute;
    left:0;
    background:#AAA;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: opening linear both;
    animation-timeline: scroll();
    animation-range:10px 20vh;
    z-index: 10;
}
@keyframes opening {
  0% { transform:translateY(0px); }
  70% { transform:translateY(-10vh); opacity:0;}
  80% {transform:translateY(-20vh); }
  90% { transform:translateY(-30vh); }
  100% { transform:translateY(-40vh);opacity:0; }
}

nav{
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
}
nav div{ /*nav bar*/
    color:#EEE;
    width:100vw;
    display:flex;
    justify-content:end;
    align-items: center;
    background:rgba(60,64,58);
    animation: nav linear both;
    animation-timeline: scroll();
    animation-range:10vh 30vh;
    margin-bottom:50vh;
    opacity:0;;
    padding-right: 30px;
}
  @keyframes nav{
    0% { height:30px; opacity:0;}
    20% { height:35px; opacity:0.6;}
    80% { height:50px; opacity:0.7;}
    90% { height:55px; opacity:0.8;}
    100% { height:60px; opacity:0.8;}
  }
  nav a{
    text-decoration: none;
    color:rgba(217,201,186);
    width:60px;
  }
  nav p{
    color:rgba(217,201,186);
    position:fixed;
    left:30px;
  }


  section{
    height:50vh;
    padding:50px;
  }

  .div-intro{
    margin-top:60vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height:50vh;
    text-align:center;
  }
  .p-hello{
    font-size:1.2rem;
    margin:30px;
}
  .div-intro h1{
    width:50vw;
    font-size:4rem;
    color:#3C403A;
  }
  .div-intro span{
    color:rgba(60,64,58,0.2)
  }
  .p-intro{
    width:50vw;
    font-size:1.8rem;
    margin:30px auto 0 auto;
  }
  .p-intro2{
    font-size:1rem;
    margin-top:35px;
    margin-bottom:100px;
    width:50vw;
  }

  section h1{
    font-size:1.8rem;
    margin:20px;
  }
  section h3{
  margin:20px;
}



  /*橫向移動*/
  @keyframes move {
    to {
      transform: translateX(calc(-100% + 100vw));
      left: 0;
    }
  }
  .section-projects {
    width: unset;
    height: 500vh;
    view-timeline-name: --section-pin;
    view-timeline-axis: y;
  }
  .pin-wrap-sticky {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin-left:-10vw;
  }
  .pin-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 300vw;
    height: 100vh;
    animation: linear move forwards;
    animation-timeline: --section-pin;
    animation-range: contain 0% contain 100%;
  }
  
  .div-scroll {
    min-width:500px;
    width: 45vw;
    max-width:400px;
    height: 80vh;
    padding:20px;
    border-radius:10px;
    background:rgb(216, 211, 203);;
    display:flex;
    flex-direction:column;
  }
   .ds2{
    max-width:650px;
  }
  .pin-wrap a{
    margin:0 0 10px 5px;
  }